<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://thelia.net/schema/dic/config" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://thelia.net/schema/dic/config http://thelia.net/schema/dic/config/thelia-1.0.xsd">
    <loops>
        <!-- sample definition
            <loop name="MySuperLoop" class="CanadaPost\Loop\MySuperLoop" />
                -->
        <loop name="canada-post-order" class="CanadaPost\Loop\CanadaPostOrder"/>
        <loop name="canada-post-service" class="CanadaPost\Loop\CanadaPostService"/>
        <loop name="canada-post-rate" class="CanadaPost\Loop\Rates"/>
    </loops>

    <forms>
        <form name="canada_post_service.create" class="CanadaPost\Form\CanadaPostServiceCreateForm"/>
        <form name="canada_post_service.update" class="CanadaPost\Form\CanadaPostServiceUpdateForm"/>
        <form name="canadapost.configuration" class="CanadaPost\Form\CanadaPostConfigForm"/>
    </forms>

    <hooks>
        <hook id="canadapost.hook" class="CanadaPost\Hook\CanadaPostHook" scope="request">
            <tag name="hook.event_listener" event="order-delivery.extra" type="front"/>
            <tag name="hook.event_listener" event="order-delivery.javascript-initialization" type="front"/>
            <tag name="hook.event_listener" event="order-edit.bill-bottom" type="back"/>
        </hook>
    </hooks>

    <services>
        <service id="canadapost.form.type.canada_post_order_id" class="CanadaPost\Form\Type\CanadaPostOrderIdType">
            <argument id="thelia.translator" type="service"/>
            <tag name="thelia.form.type"/>
        </service>
        <service id="action.canadapost.canada_post_service_table" class="CanadaPost\Action\CanadaPostServiceAction">
            <tag name="kernel.event_subscriber"/>
        </service>
        <service id="canadapost.form.type.canada_post_service_id" class="CanadaPost\Form\Type\CanadaPostServiceIdType">
            <argument id="thelia.translator" type="service"/>
            <tag name="thelia.form.type"/>
        </service>
        <service id="canada.post.order.actions" class="CanadaPost\Action\CanadaPostAction" scope="request">
            <argument type="service" id="request"/>
            <argument type="service" id="module.canadapost"/>
            <tag name="kernel.event_subscriber"/>
        </service>
        <service id="canada.post.sendmail.actions" class="CanadaPost\Action\SendMailAction" scope="request">
            <argument type="service" id="mailer"/>
            <tag name="kernel.event_subscriber"/>
        </service>
    </services>
</config>
