<script type="text/javascript">
(function ($) {

    var canadaPostId = '{$canada_post_id}',
        $canadaPostContainer,
        $canadaPost;

    var checkCanadaPost = function checkCanadaPost() {
        $canadaPost = $('#delivery-method_' + canadaPostId);
        $canadaPostContainer = $('#canada-post-services');

        if ($canadaPost.prop("checked")) {
            $canadaPostContainer.removeClass('hidden');
        } else {
            $canadaPostContainer.addClass('hidden');
        }
    };

    $(document).ready(function () {

        $('#delivery-module-list-block')
            .on('change', "input:radio", checkCanadaPost);
        /*
            .on('change', '#delivery-method_' + canadaPostId, checkCanadaPost)
            .on('click', '#delivery-method_' + canadaPostId, checkCanadaPost);
        */

    });

})(jQuery);
</script>
