<script type="text/javascript">
(function ($) {

    var canadaPostId = '{$canada_post_id}',
        $canadaPostContainer,
        $canadaPost;

    var checkCanadaPost = function checkCanadaPost() {
        $canadaPost = $('#delivery-method_' + canadaPostId);
        $canadaPostContainer = $('#canada-post-services');

        if ($canadaPost.prop("checked")) {
            $canadaPostContainer.removeClass('hidden');
            // check if a service is selected.
            if ($('input.canada-post-service:checked').length == 0) {
                $('input.canada-post-service').eq(0).prop('checked', true);
            }
        } else {
            $canadaPostContainer.addClass('hidden');
        }
    };

    $(document).ready(function () {
        $('#delivery-module-list-block')
            .on('change', "input:radio", checkCanadaPost);
    });

})(jQuery);
</script>
